# SPDX-License-Identifier: MIT

if BOARD_LOTUS58_BLE_LEFT || BOARD_LOTUS58_BLE_RIGHT

config BOARD_ENABLE_DCDC
    bool "DCDC Mode"
    select SOC_DCDC_NRF52X
    default y

config BOARD_ENABLE_DCDC_HV
    bool "High Voltage DCDC Converter"
    select SOC_DCDC_NRF52X_HV
    default y

endif # BOARD_LOTUS58_BLE_LEFT || BOARD_LOTUS58_BLE_RIGHT
